<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Maps.Geocoding.NET-API" version="1.0.0" targetFramework="net45" />
  <package id="GoogleMapsApi" version="0.59.0" targetFramework="net45" />
  <package id="GoogleMapsAPI.NET" version="1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
</packages>